body{
    background-color: cyan;
    margin-top: 30px;
}
.nav-bg-color{
    background-color: transparent;
}
#input-value{
    width: 300px;
    padding: 6px 0;
    margin-right: -10px;
    border: none;
    border-radius: 5px;
}
.meals-item{
    width: 300px;
    border-radius: 5px;
    background-color: white;
}
.meals-item h5{
    margin: 15px;
    text-align: center;
}
.meals-item img{
    width: 100%;
    border: none;
    border-radius: 5px;
}
#meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.btn-more{
    border: 2px solid cyan;
    background-color: white;
    margin: 0 0 20px 78px;
    border-radius: 5px;
} 
.btn-more:hover{
    background-color: cyan;
    color: white;
}
.datails-part{
    width: 400px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin: 10px;
}
.datails-part h5, .datails-part p{
    margin: 10px;
}
.datails-part img{
    width: 100%;
}